.celda7 {
  position: relative; 
}

@media (min-width: 100px) and (max-width: 1399.98px) {
  .celda1 {
    width: 35%;
    display: inline-block;
  }

  .celda2 {
    width: auto;
    margin: 0px 10px;
    display: inline-block;
  }

  .celda3 {
    width: auto;
    margin: 0px 10px;
    display: inline-block;
  }

  .celda4 {
    width: auto;
    margin: 0px 10px;
    display: inline-block;
  }

  .celda5 {
    width: auto;
    margin: 0px 10px;
    display: inline-block;
  }

  .celda6 {
    width: auto;
    margin: 0px 10px;
    display: inline-block;
  }

  .celda7 {
    width: auto;
    margin: 0px 10px;
    display: inline-block;
  }

  .admin-celda1 {
    width: auto;
    display: inline-block;
    border-right: 0;
    border-bottom: none;
  }
}

@media (min-width: 1400px) {
  .celda1 {
    width: 45%;
    display: inline-block;
  }

  .celda2 {
    width: auto;
    margin: 0px 20px;
    display: inline-block;
  }

  .celda3 {
    width: auto;
    margin: 0px 20px;
    display: inline-block;
  }

  .celda4 {
    width: auto;
    margin: 0px 20px;
    display: inline-block;
  }

  .celda5 {
    width: auto;
    margin: 0px 20px;
    display: inline-block;
  }

  .celda6 {
    width: auto;
    margin: 0px 20px;
    display: inline-block;
  }

  .celda7 {
    width: auto;
    margin: 0px 20px;
    display: inline-block;
  }

  .admin-celda1 {
    width: auto;
    display: inline-block;
    border-right: 0;
    border-bottom: none;
  }
}