// Variables
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&Poppins:400,500,600,700,800,900&family=Cairo:200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900family=Roboto:wght@100;300;400;500;700;900&display=swap&subset=latin-ext');
$primary-font-family: 'Montserrat',  sans-serif;
$secundary-font-family: 'Open Sans', sans-serif;
$poppins-font-family: 'Poppins', sans-serif;
$cairo-font-family: 'Cairo', sans-serif;
$roboto-font-family: 'Roboto', sans-serif;

$merriweather-font-family: 'Merriweather', sans-serif;

$color-gray: #515964;
$color-white: #fff;
$color-dark: #010101;

$color-warning: #e6a23c;
$color-warning-text: #303133;

$color-info: #8f9399;
$color-info-text: #515964;

$color-success: #67c23a;
$color-success-text: #2b6410;

$color-danger: #f56c6c;
$color-danger-text: #ce1010;


$primary-blue-color: #10B0E6;
$primary-gray-color: #38444E;

$secondary-green-color: #3ED4AD;
$secondary-purple-color: #7666C5;

$bg-color1: #38444E;
$bg-color2: #E9EEEF;
$bg-color3: #EFF7F8;
$bg-color-hover: #242E34;
$bg-color-header: #FAFAFA;
$bg-card: #FFF;

$border-color-dark: #010101;
$border-color-highlight: #F2F2F2;

$shadow: #8f9399;

$color-step-inactive: #10B0E6;
$bg-step-past: #FFF;
$bg-step-current: #10B0E6;
$bg-step-next: #BACDD6;