/* Movíl */

@media (max-width: 575.98px) {
    .home-container-industriales{
        padding: 0px 15px;
    }

    .home-container-industriales{
        height: 1250px;
    }

    .home-industriales-img{
        height: 345px;
        background: transparent !important;
    }

    .home-industriales-grid{
        grid-template-areas: 'primero'
                             'segundo'
                             'tercero';
    }

    .home-industriales-title{
        font-size: 28px;
        line-height: 30px;
        margin-top: 30px;
    }

    .home-container-industriales2{
        width: 100%;
        height: 650px;
        padding: 0px 15px;
    }

    .home-container-industriales3{
        left: 0px;
        width: 100%;
    }

    .home-container-invertir{
        height: 700px !important;
        padding: 0px 20px !important;
    }

    .home-center-col{
        width: 50%;
    }

    .home-center-aprendizaje{
        padding: 0px 15px;
        height: 600px;
    }

    .home-aprendizaje-title2{
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .home-aprendizaje-inversiones{
        font-size: 12px;
    }

    .home-center-col div{
        padding: 0px 5px !important;
    }

    .home-center-container{
        padding: 0px !important;
    }

    .home-start-text-title{
        font-size: 32px;
        line-height: 30px;
    }

    .home-start-text-title:hover{
        font-size: 38px;
    }

    .home-funciona-options{
        width: 80%;
    }

    .home-funciona-option1{
        width: 50%;
    }

    .home-funciona-option2{
        width: 50%;
    }
}

@media (min-width: 576px) and (max-width: 951px) {
    .home-container-industriales{
        padding: 0px 15px;
    }

    .home-container-industriales{
        height: 1150px;
    }

    .home-industriales-img{
        height: 345px;
        background: transparent !important;
    }

    .home-industriales-grid{
        grid-template-areas: 'primero'
                             'segundo'
                             'tercero';
    }

    .home-industriales-title{
        font-size: 28px;
        line-height: 30px;
        margin-top: 30px;
    }

    .home-container-industriales2{
        height: 710px;
        padding: 0px 15px;
    }

    .home-container-industriales3{
        left: 0px;
        width: 100%;
    }

    .home-container-invertir{
        padding: 0px 20px !important;
    }

    .home-center-col{
        width: 50%;
    }

    .home-center-aprendizaje{
        padding: 0px 15px;
    }

    .home-aprendizaje-title2{
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .home-aprendizaje-inversiones{
        font-size: 12px;
    }

    .home-center-col div{
        padding: 0px 5px !important;
    }

    .home-center-container{
        padding: 0px !important;
    }

    .home-center-aprendizaje{
        height: 720px;
    }

    .home-aprendizaje-inversiones{
        font-size: 12px;
    }

    .home-center-col div{
        padding: 0px 5px !important;
    }

    .home-center-container{
        padding: 0px !important;
    }

    .home-start-text-title{
        font-size: 32px;
        line-height: 30px;
    }

    .home-start-text-title:hover{
        font-size: 38px;
    }

    .home-funciona-options{
        width: 80%;
    }

    .home-funciona-option1{
        width: 50%;
    }

    .home-funciona-option2{
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1450px) {
}