body {
  margin: 0px;
}

.home-carrusel{
  width: 100%;
  height: 670px;
  background: rgba(18, 4, 39, 1);
  padding: 0px 0px 0px 60px;
}

.home-carrusel-left{
  width: 50%;
}

.home-carrusel-right{
  width: 50%;
}

.home-carrusel-title{
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #D6C1F5;
}

.home-carrusel-subtitle{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.home-carrusel-button{
  width: 245.41px;
  height: 68.21px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #CAEEDD;
  background: #3A2E85;
  border-radius: 8px;
  border: 0px;
  margin-top: 110px;
  text-align: left;
  padding: 15px;
}

.home-carrusel-image{
  position: relative;
  top: 0px;
}

.home-carrusel-opacity{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 18, 90, 0.6);
  border-radius: 8px 8px 0px 0px;
}

.home-carrusel-container-img{
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 80px;
  cursor: pointer;
}

.home-carrusel-container-img-normal{
  top: 6px;
  left: 6px;
  width: 98px;
  height: 98px;
  border-radius: 8px;
}

.home-carrusel-container-img div img{
  width: 110px;
  height: 110px;
  border: 6px solid #FFFFFF;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
  border-radius: 16px;
}

.home-ticker{
  position: absolute;
  left: 0px;
  bottom: 10px;
  width: 75%;
  background: #120427;
  z-index: 100;
}

.home-ticker-title{
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #F5FBFF;
}

.home-ticker-string{
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  padding: 0px 6px;
}

.home-ticker-string img{
  width: 9px;
  height: 5px;
}

.home-ticker-line{
  width: 1px;
  height: 70%;
  background-color: #FFFFFF;
}

.dropdown4{ -webkit-animation-name: animatetopdentroertet; -webkit-animation-duration: 1s; animation-name: animatetopdentroertet; animation-duration: 1s; }
@-webkit-keyframes animatetopdentroertet { from {opacity: 0; filter: alpha(opacity= 0); -moz-opacity: 0; } to { opacity: 1; filter: alpha(opacity= 100); -moz-opacity: 1; } }
@keyframes animatetopdentroertet { from {opacity: 0; filter: alpha(opacity= 0); -moz-opacity: 0;} to { opacity: 1; filter: alpha(opacity= 100); -moz-opacity: 1; } }

.home-container-industriales{
  width: 100%;
  height: 810px;
  background-color: #F5FBFF;
  padding: 0px 60px;
}

.home-industriales-img{
  width: 100%;
  height: 545px;
}

.home-industriales-title{
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  margin-top: 140px;
}

.home-industriales-grid{
  bottom: 0px;
  width: 100%;
  height: 340px;
  display: grid;
  grid-template-areas: 'primero segundo tercero';
  background-color: #fff;
}

.home-industriales-primero{
  grid-area: primero;
  height: 100%;
  padding: 3px 4px 0px 4px;
}

.home-industriales-segundo{
  grid-area: segundo;
  height: 100%;
  padding: 3px 4px 0px 4px;
}

.home-industriales-tercero{
  grid-area: tercero;
  height: 100%;
  padding: 3px 4px 0px 4px;
}

.home-industriales-silver{
  width: 100%;
  height: 100%;
  background-color: #EEEAF4;
}

.home-industriales {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateX(-50%) translateY(-50%);
}

.home-industriales-card-title{
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #3A2E85;
}

.home-industriales-card-subtitle{
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

/* ticker */

.ticker-wrapper-h{
	display: flex;	
	position: relative;
	overflow: hidden;
}

.ticker-wrapper-h .heading{
	background-color: #1c6547;
	color: #fff;
	padding: 5px 10px;
	flex: 0 0 auto;
	z-index: 1000;
}
.ticker-wrapper-h .heading:after{
	content: "";
	position: absolute;
	top: 0;
	border-left: 20px solid #1c6547;
	border-top: 17px solid transparent;
	border-bottom: 15px solid transparent;
}


.news-ticker-h{
	display: flex;
	margin:0;
	padding: 0;
	padding-left: 90%;
	z-index: 999;
	
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: tic-h;
	animation-duration: 30s;
	
}
.news-ticker-h:hover { 
	animation-play-state: paused; 
}

.news-ticker-h li{
	display: flex;
	width: 100%;
	align-items: center;
	white-space: nowrap;
	padding-left: 20px;
}

.news-ticker-h li a{
	color: #212529;
	font-weight: bold;
}

@keyframes tic-h {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

.home-tags-left-adquiere{
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #3A2E85;
  backdrop-filter: blur(2px);
  border-radius: 2px;
  padding: 3px 5px;
}

.home-tags-right-adquiere{
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: rgba(53, 20, 103, 0.35);
  backdrop-filter: blur(2px);
  border-radius: 2px;
  padding: 3px 5px;
}

.home-tag-irr{
  width: 100px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #A9CCFB;
  background-color: #351467;
  text-align: center;
}

.home-tag-irr:before {
  border-bottom: 10px solid transparent;
  border-left: 8px solid #351467;
  border-top: 10px solid transparent;
  content: "";
  left: 100px;
  position: absolute;
  top: 0px;
  width: 0;
  height: 24px;
}

.home-tag-irr-string{
  width: calc(100% - 110px);
  height: 24px;
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #F5FBFF;
  text-align: right;
}

.home-tag-co{
  width: 90px;
  height: 24px;
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #351467;
  background: #D6FFFF;
  text-align: right;
}

.home-tag-co:before {
  border-bottom: 10px solid transparent;
  border-left: 8px solid #D6FFFF;
  border-top: 10px solid transparent;
  content: "";
  left: 90px;
  position: absolute;
  top: 0px;
  width: 0;
  height: 24px;
}

.home-tag-co-string{
  width: calc(100% - 100px);
  height: 24px;
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #CAEEDD;
  text-align: right;
}

.home-tag-button{
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #CAEEDD;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  border: 0px;
}

.slick-prev, .slick-next{
  display: none !important;
}